* {
  font-family: "Poppins", sans-serif;
}
.name {
  color: rgb(186, 122, 11);
}
h2 {
  font-size: 50px;
}
.Hire-me {
}
.first-row {
  display: flex;
  justify-content: space-between;
}
.d-image {
  width: 350px;
  height: 350px;
}
