body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.name {
  color: rgb(240, 175, 85);
}
h2 {
  font-size: 50px;
}
.Hire-me {
  background-image: linear-gradient(
    to bottom right,
    rgb(218, 149, 91),
    rgb(210, 108, 19)
  );
  border: none;
  border-radius: 5px;
  width: 135px;
  height: 45px;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.first-sec {
  display: flex;
  justify-content: space-between;
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding: 5px 65px;
}
.half-width h1 {
  font-size: large;
}
.half-width p {
  color: rgb(50, 50, 50);
}
.d-image {
  width: 600px;
  height: 600px;
}
